/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body
{
    background-color: white;
}

#container
{
    width: 600px;
    overflow: auto;
    margin: 0 auto;
    border: 1px solid #cecab9;
}

#topbar
{
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #51473d;
    height: 220px;
    width: 600px;
    color: #eae7d2;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

#menu
{
    float: left;
    background-color: #51473d;
    width: 600px;
    height: 38px;
    color: #eae7d2;
}

#menu li {
    display: inline;
}

#menu ul li a {
    width: 60px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    background-color: #797066;
    color: #eae7d2;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Verdana', sans-serif;
    text-transform: capitalize;
}

#menu ul li a:hoover 
{
    background-color: #ffffff;
}

#menu ul li .active
{
    color: #5f4f3a;
    background-color: #95efd7;
}


#content
{
    background-color: #eae7d2;
    color: #797066;
    width: 578px;
    padding: 11px;
}

#maincontent
{
    width: 59%;
    float: left;
    padding-right: 12px;
}

#maincontent h1
{
    font-size: 31px;
    font-family: 'Times New Roman', serif;
    font-weight: 100;
}

#maincontent img
{
    float: left;
    margin-right: 10px;
}

#maincontent p
{
    font-size: 31px;
    font-family: 'Times New Roman', serif;
    line-height: 20px; 
}

#maincontent p
{
    font-size: 13px;
    font-family: 'Verdana', sans-serif;
}

#subcontent
{
    width: 36%;
    float: left;
    border-left-style: dashed;
    border-width: 1px;
    padding-left: 12px;
}

#subcontent h1
{
    color: #51473d;
    font-size: 17px;
    font-family: 'Times New Roman', serif;
    font-weight: 100;
}

#subcontent h2
{
    font-size: 14px;
    font-family: 'Times New Roman', serif;
    font-weight: 100;
}

#subcontent p
{
    color: #797066;
    font-size: 9px;
    font-family: 'Verdana', sans-serif;
    line-height: 20px; 
}

#subcontent a
{
    color: #797066;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}

#subcontent ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottomcontent
{
    clear: both;
    font-size: 10px;
    font-style: italic;
    font-family: 'Verdana', sans-serif;
}