/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body
{
    background-color: white;
}

#container
{
    width: 600px;
    overflow: auto;
    margin: 0 auto;
    border: 1px solid #cecab9;
}

#topbar
{
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #51473d;
    height: 217px;
    width: 600px;
    color: #eae7d2;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-style: italic;
    text-align: right;
    padding-top: 3px;
}

#menu
{
    float: left;
    background-color: #51473d;
    width: 600px;
    height: 39px;
    color: #eae7d2;
}

#menu li 
{
    display: inline;
    border: 1px solid #51473d;

}

#menu ul { padding-left:0; margin-left: 11px; }

#menu ul li a {
    width: 60px;
    color: #eae7d2;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Verdana', sans-serif;
    text-transform: capitalize;
        background-color: #797066;
        padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 3px;
}

#menu a:hover 
{
    background-color: #9c9084;
}

#menu li.active a
{
    color: #797066;
    background-color: #eae7d2;
        padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 3px;
}

#menu > a:first-child { display: none; } 


#content
{
    background-color: #eae7d2;
    color: #797066;
    width: 578px;
    padding: 11px;
}

#maincontent
{
    width: 59%;
    float: left;
    padding-right: 12px;
}

#maincontent h1
{
    font-size: 31px;
    font-family: 'Times New Roman', serif;
    font-weight: lighter;
}

#maincontent img
{
    float: left;
    margin-right: 10px;
}

#maincontent p
{
    font-size: 13px;
    font-family: 'Verdana', sans-serif;
    line-height: 20px; 
}

#subcontent
{
    width: 36%;
    float: left;
    border-left-style: dashed;
    border-width: 1px;
    border-color: #cecab9;
    padding-left: 12px;
    margin-top: 30px;
}

#subcontent h1
{
    color: #51473d;
    font-size: 17px;
    font-family: 'Times New Roman', serif;
    font-weight: lighter;
}

#subcontent h2
{
    font-size: 14px;
    font-family: 'Times New Roman', serif;
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 0;
}

#subcontent p
{
    padding-top: 14px;
    color: #797066;
    font-size: 9px;
    font-family: 'Verdana', sans-serif;
    line-height: 20px; 
}

#subcontent a
{
    color: #797066;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}

#subcontent ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottomcontent
{
    clear: both;
    font-size: 10px;
    font-style: italic;
    font-family: 'Verdana', sans-serif;
}